.main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appTitle{
  margin: 5px 0 20px;
}

.containerForm {
  width: 90%;
  padding: 10px 20px;
}

.containerForm form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formInput input {
  padding: 5px 10px;
  font-size: 1rem;
}

#title,
#subtitle {
  flex: 1;
}

#content {
  width: 100%;
}

.inputButton {
  width: 30%;
  padding: 5px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 7px;
}

.inputButton:hover {
  cursor: pointer;
}
