main {
  width: 100%;
}

main #mainTitle {
  padding: 10px 0px;
  font-size: clamp(2rem, 1.2vw + 1rem, 3rem);
}

.notesContainer {
  gap: 30px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px 60px;
}
@media (max-width: 450px) {
  .notesContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
